<div class="parent-container">
  <mat-card class="example-card mat-elevation-z10 margin-class">
    <form [formGroup]="infoFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" required />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Artist</mat-label>
          <input matInput type="text" formControlName="artist" required />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Creation Date</mat-label>
          <input
            matInput
            type="date"
            formControlName="creation_date"
            required
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Medium</mat-label>
          <input matInput type="text" formControlName="medium" required />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Style</mat-label>
          <input matInput type="text" formControlName="style" required />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price" required />
        </mat-form-field>
      </div>

      <div class="form-group">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          *ngIf="this.imagePreview"
        >
          <div class="drag-div" cdkDrag>
            <button
              mat-mini-fab
              value="{{ this.imagePreview }}"
              color="accent"
              class="remove-btn"
              (click)="removeImg(btnRemove.id)"
            >
              <mat-icon>x</mat-icon>
            </button>
            <img
              #btnRemove
              [id]="1"
              [src]="this.imagePreview"
              class="img-img"
            />
          </div>
        </div>
        <div class="form-group">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="fileInput.click()"
          >
            <mat-icon>add_photo_alternate</mat-icon>
            <span>Add Image</span>
            <input
              #fileInput
              type="file"
              accept="image/*"
              multiple
              style="display: none"
              (change)="handleSelectedFile($event)"
            />
          </button>
        </div>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="createPainting()"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
