<!-- edit-profile.component.html -->
<div class="edit-profile-cont">
  <mat-card class="card">
    <mat-card-title class="title">Edit Profile</mat-card-title>
    <form class="form">
      <div class="div-img">
        <mat-card-subtitle>Profile Picture</mat-card-subtitle>
        <img
          [src]="
            this.selectedImage
              ? this.imagePreview
              : imgPath + '/' + this.imagePreview
          "
          class="img"
        />
        <button
          mat-stroked-button
          color="primary"
          type="button"
          (click)="fileInput.click()"
          style="margin-bottom: 15px"
        >
          <span>{{
            this.user?.profilePicture ? "Update image" : "Upload image"
          }}</span>
          <input
            #fileInput
            type="file"
            accept="image/*"
            multiple
            required
            (change)="handleSelectedFile($event)"
            style="display: none"
          />
        </button>
      </div>
      <div class="div">
        <mat-form-field>
          <input matInput placeholder="Username" [formControl]="username" />
          <mat-error *ngIf="username.invalid && username.touched">
            Username is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" [formControl]="name" />
          <mat-error *ngIf="name.invalid && name.touched">
            First Name is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" [formControl]="lastName" />
          <mat-error *ngIf="lastName.invalid && lastName.touched">
            Last Name is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="email" />
          <mat-error *ngIf="email.invalid && email.touched">
            Email is required.
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [formControl]="password"
            type="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <mat-icon
            matSuffix
            (click)="togglePassword()"
            [svgIcon]="'hide_password'"
            [style.cursor]="'pointer'"
          ></mat-icon>
          <mat-error *ngIf="password.invalid && password.touched">
            Password is required.
          </mat-error>
        </mat-form-field> -->
        <mat-form-field>
          <input matInput placeholder="Phone" [formControl]="phone" />
          <mat-error *ngIf="phone.invalid && phone.touched">
            Phone is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" [formControl]="address" />
          <mat-error *ngIf="address.invalid && address.touched">
            Address is required.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <div class="button">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </mat-card>
  <mat-card>
    <div class="button">
      <button mat-raised-button color="primary">Delete account</button>
    </div>
  </mat-card>
</div>
